{% extends 'base.html' %}

{% block content %}
<!-- Custom Navbar -->
{% include 'product_detail_navbar.html' %}


<!-- Page Content -->
<center><h1>Product Detail {{ product_detail.product_name }}</h1></center>

<div class="container-max-width">
    <div class="row">
        <div class="col text-center">
            <div class="card card-body">
                SKU:                {{ product_detail.sku }}<br>
                Product Name:       {{ product_detail.product_name }}<br>
                Barcode:            {{ product_detail.barcode }}<br>
                Description:        {{ product_detail.description }}<br>
                Unit Price LV:      {{ product_detail.unit_price }}<br>
                Product Type:       {{ product_detail.product_type }}<br>
            </div>
        </div>

        <div class="col text-center">
            <div class="card card-body">
                Product Image: <img src="{{ product_detail.product_image.url }}" alt="" width="200" height="200">

            </div>
        </div>
        

    </div>
</div>



<div>
    <form action="{% url 'push_product_to_shopify' product.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Push to Shopify</button>
    </form>
</div>




{% endblock %}

